{% extends "base.html" %}

{% block content %}
<br><br>


<center class="container" style="width: 25%;">
    <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        {{ form }}
        <div class="mb-3 form-check flex-center">
            <input type="checkbox" class="form-check-input" id="show" style="margin-right: 15px;">
            <label class="form-check-label" for="show">Show password</label>
        </div>
        <button type="submit" class="btn btn-success">Sign up</button>

    </form>
</center>

<style>
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>
<script>
$(document).ready(function() {
    $("#show").click(()=>{
        if($("#show").is(':checked')) {
            $("#id_password1").attr("type", "text");
            $("#id_password2").attr("type", "text");
        } else {
            $("#id_password1").attr("type", "password");
            $("#id_password2").attr("type", "password");
        }
    })
})
</script>


{% endblock %}
