{% extends "base.html" %}
{% load tags %}
{% load static %}

{% block content %}
<div id="catalog" class="container">
  <br>
  <br>
  <h1 class="text-center">Somorter item catalog</h1>
  <br>

  <form method="POST" action="{% url 'catalog' %}">
    <div class="container row catalog">
      <div class="col-md-3" id="catalog-filter">
        <h3>Filters</h3>
        <div class="form-group row">
          <label for="minPrice" class="col-sm-6 col-form-label">Min price</label>
          <div class="col-sm-6">
            <input type="number" class="form-control" id="minPrice" name="minPrice" placeholder="1" {% if filters.minPrice %}value="{{ filters.minPrice }}" {% endif %}>
          </div>
        </div>
        <div class="form-group row">
          <label for="maxPrice" class="col-sm-6 col-form-label">Max price</label>
          <div class="col-sm-6">
            <input type="number" class="form-control" id="maxPrice" name="maxPrice" placeholder="1000" {% if filters.maxPrice %}value="{{ filters.maxPrice }}" {% endif %}>
          </div>
        </div>
      </div>
      <div id="catalog-items" class="col-md-9">
        <div class="input-group" id="itemSearch">
          <input type="search" class="form-control rounded" placeholder="Search" name="search" aria-label="Search" aria-describedby="search-addon" {% if filters.search %}value="{{ filters.search }}" {% endif %} />
          <button type="submit" class="btn btn-outline-primary">search</button>
        </div>
        <div id="items">
          {% for item in items %}
          <div class="card item" path="{{item.path}}">
            <div class="card-body">
            <div class="img-wrapper">
                <div class="item-card-img">
                    {% if item.itemimage_set.all|item_image %}
                        <img id="main-img" {% if item.itemimage_set.all|widther %}class="widther"{% endif %} src="{{ item.itemimage_set.all|item_image }}" alt="{{ item.title }}">
                    {% else %}
                        <img id="main-img" src="{% static 'img/item-placehloder.png' %}" alt="{{ item.title }}">
                    {% endif %}
                </div>
            </div>
              <h5 class="card-title item-title">{{ item.title|item_title:filters.search|safe }}</h5>
              <p class="card-text">{{ item.price }}$</p>
              <a href='{% url "view_item" item.id %}' class="btn btn-primary btn-sm">View</a>
            </div>
          </div>
          {% endfor %}
        </div>
        <br>
        <div id="bottom" style="position: relative;">
          <input type="number" class="form-control" id="page" hidden name="page" placeholder="0" {% if filters.page %}value="{{ filters.page }}" {% endif %}>
          <div id="pagination"></div>
          <div class="form-group" style="display: flex; align-items: center; justify-content: center;">
            <label for="itemsPerPage" class="col-form-label" style="margin-right: 10px;">Items per page:</label>
            <div style="width: 100px;">
              <input type="number" class="form-control" id="itemsPerPage" name="itemsPerPage" placeholder="20" {% if filters.itemsPerPage %}value="{{ filters.itemsPerPage }}" {% endif %}>
            </div>
          </div>
        </div>

      </div>
      <script>

        function setPage(page) {
          $("#page").val(page)
        }

        $(document).ready(function () {
          {% if search %}
          $("#itemSearch input").val("{{ search }}")
          {% endif %}

          $("#pagination").append(`
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item {% if filters.page == 1 %}disabled{% endif %}">
                <button class="page-link" onClick='setPage({{ filters.page }}-1)'>Previous</button>
              </li>
              {% for page in page_count|range %}
                <li class="page-item"><button class="page-link number-link {% if filters.page == page|add:1 %}active-page{% endif %}">{{ page|add:1 }}</button></li>
              {% endfor %}
              <li class="page-item {% if filters.page == page_count %}disabled{% endif %}">
                <button class="page-link" onClick='setPage({{ filters.page }}+1)'>Next</button>
              </li>
            </ul>
          </nav>
          `)

          $(".number-link").click((x) => {
            setPage($(x.currentTarget).text())
          })

        });

      </script>
    </div>
  </form>
</div>

{% endblock %}