
#catalog-filter{
    background-color: rgb(239, 239, 239);
    padding: 20px;
}

#catalog-filter h3{
    text-align: center;
    border-bottom: 1px rgb(204, 204, 204) solid;
}


#catalog-itmes{
    text-align: center;
}

#catalog-itmes .card{
    width: 200px !important;
}

#categories{
    text-align: start;
    background-color: rgb(239, 239, 239);
}

#categories h3{
    text-align: center;
    padding: 5px;
    border-bottom: 1px rgb(204, 204, 204) solid;
}

#categories button{
    border: none !important;
    color: #0d6efd;
    background-color: inherit;
}

.category{
    padding: 5px;
    
}

.category:last-of-type{
}

.subcategory{
    list-style-type: disc;
}

#categories ul{
    list-style-type: none !important;
}


#shop-title{
    font-size: 60px;
    padding: 100px;
    background-color: rgb(202, 202, 202);
    color: black;
    font-weight: bold;
}

#items{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.item{
    width: 200px;
    height: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.item-title{
    margin-top: 2px;
    padding: 2px;
}

.item .card-body{
    padding: 10px;
}

#itemSearch{
    margin: 20px auto;
    width: 50%;
}

.catalog{
    width: 100%; 
    padding: 0;
    min-height: 1080px;
}

.searched{
    background-color: khaki;
}