{% extends "base.html" %}

{% block content %}

<br><br>
<h1 class="text-center">Administration page of {{ shop.title }}</h1>
<br>

<div class="container bg-dark" style="width: 55%; min-height: 1080px;">
    <div class="" id="tab-buttons" style="position: relative;">
        <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group" style="position: absolute; left: -100px;">
            <a class="btn btn-outline-dark" id="details-btn" href="{% url 'admin_shop' shop.id 'details' %}">Details</a>
            <a class="btn btn-outline-dark" id="items-btn" href="{% url 'admin_shop' shop.id 'items' %}">Items</a>
            <a class="btn btn-outline-dark" id="oreders-btn" href="{% url 'admin_shop' shop.id 'orders' %}">Orders</a>
        </div>
    </div>
    <div class="" id="tabs">
        <center id="details-tab">
            <div style="width: 50%;">
                <h2>Shop details</h2>
                {% include "eshop/shop/form.html" %}
            </div>
        </center>
        <div id="items-tab">
            <div style="margin: 0px 20%;">
                <h2 class="text-center">Items</h2>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Library</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data</li>
                  </ol>
                </nav>
                <div style="color: white;">
                    {% for item in shop.item_set.all %}
                    <div>{{ item.title }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <center id="orders-tab">
            <div style="width: 80%;">
            <h2>Orders</h2>
            </div>
        </center>
    </div>
</div>
<style>
    h2{
        color: #FFF;
        padding: 5px 0;
    }
</style>
<script>
const url_tabs = ["details", "items", "orders"]
let index = url_tabs.indexOf("{{ tab }}")

$(document).ready(function(){
    let btns = $("#tab-buttons div a")
    let tabs = 	$("[id*='-tab']")

    // TABS INIT
    for (let x of tabs) $(x).hide()


    $(tabs[index]).show()
    $(btns[index]).css("background-color", "#212529")
    $(btns[index]).css("color", "white")

    // TAB BTNS CLICK
    for (let btn of btns){
        $(btn).click(()=>{
            for (let tab of tabs) $(tab).hide()
            for (let x of btns){
                $(x).css("background-color", "white")
                $(x).css("color", "#212529")
            }
            $(btn).css("background-color", "#212529")
            $(btn).css("color", "white")
            $(tabs[btns.toArray().indexOf(btn)]).show()
        })
    }

})
</script>

{% endblock %}
