
{% block content %}
<center>
    {% if method != "PUT" %}
        <form method="{{ method }}" enctype="multipart/form-data" action="{% url 'create_shop' %}">
    {% else %}
        <form method="POST" enctype="multipart/form-data" action="{% url 'admin_shop' shop.id 'details' %}">
    {% endif %}
        {% csrf_token %}
        {{ detail_form.title }}
        {{ detail_form.title.errors }}
        {{ detail_form.description }}
        <div class="row g-3 mb-3">
            <div class="col">
                {{ detail_form.payment_methods.label }}
                <select name="payment_methods" class="form-select" required id="id_payment_methods" multiple>
                    {% for method in detail_form.payment_methods %}
                       {{ method }}
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                {{ detail_form.shipment_methods.label }}
                <select name="shipment_methods" class="form-select" required id="id_shipment_methods" multiple>
                    {% for method in detail_form.shipment_methods %}
                       {{ method }}
                    {% endfor %}
                </select>
            </div>
        </div>
        {{ detail_form.image.label }}
        {{ detail_form.image }}

        {% if shop.owner == user.smorteruser or shop == None %}
        <div class="row g-3 mb-3">
            <label for="adminList">Add your admins:</label>
            <div class="col">
                <ul class="list-group" id="adminList">
                    <li class="list-group-item">{{ user }}</li>
                    {% if shop %}
                        {% for admin in shop.admin_group.smorteruser_set.all %}
                            {% if admin != user.smorteruser %}
                                <li class="list-group-item" style="display: flex; justify-content: space-between; align-items: center; cursor:default;"><span>{{ admin }}</span><i class="fa fa-times" onclick='del_admin(this)' style="font-size:20px; color:red; cursor:pointer;"></i></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="col">
                <input type="search" id="userSearch" class="form-control rounded" placeholder="Search by usernames"/>
                <ul class="list-group" id="userList">
                    {% for u in users %}
                        <li class="list-group-item" style="cursor: pointer;">{{ u }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <input type="text" name="admins" maxlength="100" id="admins">
        {% if method != "PUT" %}
            <button type="submit" class="btn btn-success">Create shop</button>
        {% else %}
            <button type="submit" class="btn btn-success">Update details</button>
        {% endif %}
        <br><br><br><br>
    </form>
</center>

<style>
    #userList li:hover{
        background-color: #54c470;
    }
    #adminList li:first-child{
        background-color: #FFF;
    }
</style>

<script>

function del_admin(el){
    res = $("#adminList li").filter((x, y)=>$(y).text() != $(el.parentNode).text() || $(y).text() == '{{ user.username }}')
    $("#adminList").empty()
    for (let x of res){
        $("#adminList").append(x)
    }
    update_admins()
}

function update_admins(){
    $("#admins").val($("#adminList li").map((x,y) => $(y).text()).toArray().join())
}

$(document).ready(function(){
    $("#admins").hide()
    $("#admins").val([{% for admin in shop.admin_group.smorteruser_set.all %}"{{ admin }}",{% endfor %}].join())
    $("#userList li").filter(function() {
        $(this).click(()=>{
            $("#userSearch").val("")
            $("#adminList").append(`<li class="list-group-item" style="display: flex; justify-content: space-between; align-items: center; cursor: default;"><span>${$(this).text()}</span><i class="fa fa-times" onclick='del_admin(this)' style="font-size:20px; color:red; cursor:pointer;"></i></li>`)

            $("#userList li").filter(function() {
                $(this).toggle(false);
            });
            $(this).toggle(false);
            update_admins()
        });
        $(this).toggle(false)
    });

    $("#userSearch").on("keyup", function() {
    if($("#userSearch").val() == ""){
        $("#userList li").filter(function() {
            $(this).toggle(false)
        });
    }
    else{
    var value = $(this).val().toLowerCase();
    $("#userList li").filter(function() {
      $(this).toggle($(this).text().indexOf(value) > -1 && ! $("#adminList li").map((x,y) => $(y).text()).toArray().includes($(this).text()))
    });
    }
    });
});
</script>
{% endblock %}
