{% extends "base.html" %}

{% block content %}
    <center class="container">
        <div id="shop-view-info">
            <div>
                <h1 id="shop-title" {% if shop.image %} style="background:url('{{ shop.image.url }}') 50% 50% no-repeat" {% endif %}>{{ shop.title }}</h1>
            </div>
            <h4>{{ shop.description }}</h4>
        </div>
        <div id="shop-view-items">
            <div class="col-md-3" id="categories">
            </div>
        </div>
    </center>
{% endblock %}
