
{% block content %}
<div>
    {% if method != "PUT" %}
        <form method="{{ method }}" action="{% url 'create_item' shop.id %}?{{ query_path }}" enctype="multipart/form-data">
    {% else %}
        <form method="POST" action="{% url 'create_item' shop.id %}?{{ query_path }}" enctype="multipart/form-data">
    {% endif %}
        {% csrf_token %}
        {{ item_form.title }}
        {{ item_form.title.errors }}
        {{ item_form.description }}
        {{ item_form.description.errors }}
        {{ item_form.path }}
        {{ item_form.path.errors }}
        {{ item_form.price }}
        {{ item_form.price.errors }}
        <input class="form-control mb-3" type="file" name="images" multiple accept="image/*" id="id_images">
        {{ item_form.images.errors }}
        <!--<input type="text" name="images" maxlength="100" id="images">
        <label for="note-image">Images</label>
        <input type="file" name="images" class="form-control-file" id="images" multiple>-->
        <h5 class="text-center">Options</h5>
        <ul class="list-group list-group-flush mb-3" style="border-color" id="optionsList">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-5">
                        <input class="form-control" type="text" placeholder="Option name">
                    </div>
                    <div class="col-md-6">
                        <input type="search" class="form-control rounded" placeholder="Add your options..."/>
                        <ul class="list-group" id="userList">
                            <li class="list-group-item" style="display: flex; justify-content: space-between; align-items: center; cursor:default;"><span>Option</span><i class="fa fa-times" onclick='del_admin(this)' style="font-size:20px; color:red; cursor:pointer;"></i></li>
                            <li class="list-group-item" style="cursor: pointer;">Option 2</li>
                        </ul>
                    </div>
                    <div class="col-md-1 text-end">
                        <i class="fa fa-times" style="font-size:25px; color:red; cursor:pointer;"></i>
                    </div>
                </div>
            </li>
            <li class="list-group-item"><a>ddd</a></li>
        </ul>
        <br>
        {% if method != "PUT" %}
            <button type="submit" class="btn btn-success">Add item</button>
        {% else %}
            <button type="submit" class="btn btn-success">Update item</button>
        {% endif %}
        <br><br><br><br>
    </form>
</div>

<script>
$(document).ready(function() {
    $("#id_path").val("{{ path }}")
    $("#optionsList").append(`
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-5">
                            <input class="form-control" type="text" placeholder="Option name">
                        </div>
                        <div class="col-md-6">
                            <input type="search" class="form-control rounded" placeholder="Add your options..."/>
                            <ul class="list-group" id="userList">
                                <li class="list-group-item" style="display: flex; justify-content: space-between; align-items: center; cursor:default;"><span>Option</span><i class="fa fa-times" onclick='del_admin(this)' style="font-size:20px; color:red; cursor:pointer;"></i></li>
                                <li class="list-group-item" style="cursor: pointer;">Option 2</li>
                            </ul>
                        </div>
                        <div class="col-md-1 text-end">
                            <i class="fa fa-times" style="font-size:25px; color:red; cursor:pointer;"></i>
                        </div>
                    </div>
                </li>`)
});
</script>
{% endblock %}
